<form name="contractForm" novalidate class="form-horizontal" ng-submit="save()">
    <div class="row buttonbar">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <h3 class="buttonbar-title">Contract</h3>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9">
            <button back-button class="btn btn-blue pull-right ml_5"><i class="fa fa-times"></i> Cancel</button>
            <button type="submit" class="btn btn-blue pull-right"><i class="fa fa-check"></i> Save</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a>Customer Information</a></h4>
        </div>
        <div class="panel-collapse">
            <div class="panel-body">
                <div class="row pb_10">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Last Name</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="data.sales.saleUser.lastName">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">First Name</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="data.sales.saleUser.firstName">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pb_10">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Phone #</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="data.sales.saleUser.primaryPhone">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">E-mail</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="data.sales.saleUser.primaryEmail">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row pb_10">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Address Line 1</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control"
                                       ng-model="data.sales.saleUser.billingAddressLine1">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Address Line 2</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control"
                                       ng-model="data.sales.saleUser.billingAddressLine2">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pb_10">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">City</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="data.sales.saleUser.billingCity">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">State</label>

                            <div class="col-sm-8">
                                <select class="form-control" ng-model="data.sales.saleUser.billingStateId"
                                        ng-options="state.id as state.stateDesc | titleCase for state in states | filter:stateByCountry(data.sales.saleUser.billingCountryId)">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pb_10">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Zip</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control"
                                       ng-model="data.sales.saleUser.billingPostalCode">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Country</label>

                            <div class="col-sm-8">
                                <select class="form-control" ng-model="data.sales.saleUser.billingCountryId"
                                        ng-options="country.id as country.countryDesc | titleCase for country in countries">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-repeat="product in data.sales.saleProducts" class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a>Contract</a></h4>
        </div>
        <div class="panel-collapse">
            <div class="panel-body">
                <div class="row pb_10">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h4 class="text-center pb_10">Warranty Information</h4>

                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Category</label>

                            <div class="col-md-8 col-sm-8 col-xs-8 pb_10">
                                <input type="text" class="form-control" ng-model="product.productCategory"
                                       placeholder="Make this a dropdown?">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Warranty SKU</label>

                            <div class="col-md-8 col-sm-8 col-xs-8 pb_10">
                                <input type="text" class="form-control" ng-model="product.warrantySKU"
                                       placeholder="Make this a dropdown?">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Addtl. Warranty SKU</label>

                            <div class="col-md-8 col-sm-8 col-xs-8 pb_10">
                                <input type="text" class="form-control" ng-model="data.sales.additionalWarrantySKU"
                                       placeholder="Make this a dropdown?">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Quantity</label>

                            <div class="col-md-8 col-sm-8 col-xs-8 pb_10">
                                <input type="text" class="form-control" ng-model="data.sales.quantityItemsSold">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Retail price</label>

                            <div class="col-md-8 col-sm-8 col-xs-8 pb_10">
                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-fw fa-usd"></i>
                                </span>
                                    <input type="text" class="form-control" ng-model="data.sales.warrantyRetailPrice"
                                           currency-mask="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Warranty DOP</label>

                            <div class="col-md-8 col-sm-8 col-xs-8 pb_10">
                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-fw fa-calendar"></i>
                                </span>
                                    <input
                                            type="text" class="form-control"
                                            ng-model="data.sales.warrantyPurchaseDate"
                                            datepicker-popup="dd-MMMM-yyyy"
                                            datepicker-options="dateOptions"
                                            show-button-bar="false"
                                            date-disabled="disabled(date, mode)"
                                            ng-required="true"
                                            close-text="Close"/>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h4 class="text-center pb_10">Product Information</h4>

                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Product Description</label>

                            <div class="col-md-8 col-sm-8 col-xs-8 pb_10">
                                <input type="text" class="form-control" ng-model="product.productDescription"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Manufacturer</label>

                            <div class="col-md-8 col-sm-8 col-xs-8 pb_10">
                                <input type="text" class="form-control" ng-model="product.manufacturerName"
                                       placeholder="Make this a dropdown?">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Model #</label>

                            <div class="col-md-8 col-sm-8 col-xs-8 pb_10">
                                <input type="text" class="form-control" ng-model="product.modelNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Serial #</label>

                            <div class="col-md-8 col-sm-8 col-xs-8 pb_10">
                                <input type="text" class="form-control" ng-model="product.serialNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Retail price</label>

                            <div class="col-md-8 col-sm-8 col-xs-8 pb_10">
                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-fw fa-usd"></i>
                                </span>

                                    <input type="text" class="form-control" ng-model="product.productRetailPrice" currency-mask="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-4 control-label">Product DOP</label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-fw fa-calendar"></i>
                                </span>
                                    <input
                                            type="text" class="form-control"
                                            ng-model="product.productPurchaseDate"
                                            datepicker-popup="dd-MMMM-yyyy"
                                            datepicker-options="dateOptions"
                                            show-button-bar="false"
                                            date-disabled="disabled(date, mode)"
                                            ng-required="true"
                                            close-text="Close"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a>Claims</a></h4>
        </div>
        <div class="panel-collapse">
            <div class="panel-body">

            </div>
        </div>
    </div>
</form>
<br class="clearfix"/>
<br class="clearfix"/>