<div class="clearfix center-text pt_10">
    <div class="pull-left ml_5">
        <h3>Contracts</h3>
        Showing {{totalItems }} of {{data.length }} records.
    </div>
    <form class="form-inline" role="search" name="contractsForm">
        <div class="form-group mr_10p">
            <h6>Filter</h6>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Freetext Search" id="contractsForm.search"
                   ng-model="search" name="search"/>
        </div>
        <button ng-click="resetForm('storesForm')" class="vertical-top btn btn-warning"><i class="fa fa-refresh "></i>
            Reset
        </button>
        <button ui-sref="contract ({id: -1})" class="btn btn-blue text-center pull-right"><i class="fa fa-plus"></i> Add
            Contract
        </button>
    </form>
</div>

<div class="center-text">
    <pagination class="pagination" boundary-links="true" total-items="totalItems" ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>


<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th width="2%"></th>
        <th>Agreement Number</th>
        <th>Product Description</th>
        <th>Mfg.</th>
        <th class="hidden-xs">Serial Number</th>
        <th class="hidden-xs">Customer Name</th>
        <th class="hidden-xs">Phone #</th>
        <th class="hidden-xs">Zip</th>
        <th class="hidden-xs">Warranty</th>
        <th class="hidden-xs">Claim</th>
    </tr>
    </thead>

    <tr ng-repeat="contract in filteredData |  orderBy:'name':reverse | orderBy:predicate | startFrom:startFrom | limitTo:pageSize">
        <td><a ui-sref="contract({ id: contract.id })"><i class="fa fa-pencil-square-o"></i></a></td>
        <td>{{contract.contractNumber}}</td>
        <td>{{contract.displayName}}</td>
        <td>{{contract.sales.saleProducts[0].manufacturerName}}</td>
        <td class="hidden-xs">{{contract.sales.saleProducts[0].serialNumber}}</td>
        <td class="hidden-xs">{{contract.sales.saleUser.firstName}} {{contract.sales.saleUser.lastName}}</td>
        <td class="hidden-xs">{{contract.sales.saleUser.primaryPhone}}</td>
        <td class="hidden-xs">{{contract.sales.saleUser.billingPostalCode}}</td>
        <td class="hidden-xs"></td>
        <td></td>
    </tr>
</table>

<div class="center-text">
    <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
