<div class="row p_10">
    <h3>Contact Us</h3>
    <br/>

    <div class="col-md-6 divider">
        <b>Customer Service Number</b><br/>
        1-800-431-5843 ext. 6212
        <br/><br/>
        <b>Dealer Support Line Number</b><br/>
        1-800-431-5843 ext. 6213
        <br/><br/>
        <b>Email</b><br/>
        dealer.support@bankerswarrantygroup.com

    </div>


    <div class="col-md-6">

        <b> Client Service Account Manager</b><br/>
        Name: <b> June Beach</b><br/>
        Phone: <b> 1-800-431-5843 ext. 6258</b><br/>
        Email: <b> JBeach@bankerswarrantygroup.com</b>
        <br/><br/>
        <b>Training Coordinator</b><br/>
        Name: <b> Justin R. Miller</b><br/>
        Phone: <b> 1-800-431-5843 ext. 6242</b><br/>
        Email: <b> Jmiller@bankerswarrantygroup.com</b>
        <br/><br/>
        <b>Operations</b><br/>
        Name: <b>Matt Taylor</b><br/>
        Phone: <b>1-800-431-5843 ext. 6217</b>
    </div>
</div>