<div class="clearfix center-text pt_10">
    <div class="pull-left ml_5">
        <h3>Customers</h3>
        Showing {{totalItems }} of {{data.length }} records.
    </div>
    <form class="form-inline" role="search" name="customersForm">
        <div class="form-group mr_10p">
            <h6>Filter</h6>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Freetext Search" id="customersForm.search"
                   ng-model="search" name="search"/>
        </div>
        <button ng-click="resetForm('customersForm')" class="vertical-top btn btn-warning"><i
                class="fa fa-refresh "></i> Reset
        </button>
        <button ui-sref="customer ({id: -1})" class="btn btn-blue text-center pull-right"><i class="fa fa-plus"></i> Add
            Customer
        </button>
    </form>
</div>
<div class="center-text">
    <pagination class="pagination" boundary-links="true" total-items="totalItems" ng-model="currentPage"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th width="1%"></th>
        <th>Customer Name</th>
        <th>Phone #</th>
        <th>E-mail</th>
        <th>Address</th>
        <th>City</th>
        <th class="hidden-xs">State</th>
        <th class="hidden-xs">Zip</th>
        <th width="1%"></th>
    </tr>
    </thead>

    <tr ng-repeat="customer in filteredData |  orderBy:'name':reverse | orderBy:predicate | startFrom:startFrom | limitTo:pageSize">
        <td><a ui-sref="customer({ id: customer.id })"><i class="fa fa-pencil-square-o"></i></a></td>
        <td>{{customer.firstName}} {{customer.lastName}}</td>
        <td>{{customer.primaryPhone}}</td>
        <td>{{customer.userName}}</td>
        <td>{{customer.billingAddressLine1}} {{customer.billingAddressLine2}}</td>
        <td>{{customer.billingCity}}</td>
        <td class="hidden-xs">
            <span ng-show="customer.billingStateId" ng-repeat="state in states | filter:customer.billingStateId:strict">{{state.stateDesc | titleCase}}</span>
        </td>
        <td class="hidden-xs">{{customer.billingPostalCode}}</td>
        <td><i class="fa fa-trash-o pointer" ng-click="deleteCustomer(customer.id)"></i></td>
    </tr>
</table>


<div class="center-text">
    <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
