<div class="row buttonbar">
    <div class="col-md-3 col-sm-3 col-xs-3">
        <h3 class="buttonbar-title">Edit Customer</h3>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9">
        <button ng-click="close()" class="btn btn-blue pull-right ml_5"><i class="fa fa-times"></i> Close</button>
        <button ng-click="saveClose()" class="btn btn-warning pull-right ml_5"><i class="fa fa-check"></i> Save & Close</button>
        <button ng-click="save()" class="btn btn-warning pull-right ml_5"><i class="fa fa-check"></i> Save</button>
        <button ng-click="new()" class="btn btn-success pull-right"><i class="fa fa-plus"></i> New</button>
    </div>
</div>
<form name="form" novalidate class="form-horizontal">

<tabset>
    <tab heading="Customer Info">
            <div class="row pt_10">
                <div class="col-sm-6">
                    <div class="form-group clearfix">
                        <label class="col-sm-4 control-label">First Name</label>

                        <div class="col-sm-8">
                            <input type="text" name="firstName" class="form-control" ng-model="data.firstName" required
                                   autofocus="autofocus">

                            <div class="error" ng-show="form.firstName.$error.required">Required!</div>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-sm-4 control-label">Last Name</label>

                        <div class="col-sm-8">
                            <input type="text" name="lastName" class="form-control" ng-model="data.lastName" required>

                            <div class="error" ng-show="form.lastName.$error.required">Required!</div>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-sm-4 control-label">Primary Email</label>

                        <div class="col-sm-8">
                            <input type="email" name="email" class="form-control" ng-model="data.primaryEmail" required>

                            <div class="error" ng-show="form.email.$error.required">A valid e-mail address is
                                required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-sm-4 control-label">Primary Phone</label>

                        <div class="col-sm-8">
                            <input type="text" name="primaryPhone" class="form-control" ng-model="data.primaryPhone"
                                   required>

                            <div class="error" ng-show="form.primaryPhone.$error.required">Required!</div>

                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-sm-4 control-label">Secondary Email</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="data.secondaryEmail">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-sm-4 control-label">Secondary Phone</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="data.secondaryPhone">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group clearfix">
                        <label class="col-sm-4 control-label">Address</label>

                        <div class="col-sm-8">
                            <input type="text" name="billingAddressLine1" class="form-control"
                                   ng-model="data.billingAddressLine1" required>

                            <div class="error" ng-show="form.billingAddressLine1.$error.required">Required!</div>

                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-sm-4 control-label">Address 2</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="data.billingAddressLine2">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-sm-4 control-label">City</label>

                        <div class="col-sm-8">
                            <input type="text" name="billingCity" class="form-control" ng-model="data.billingCity"
                                   required>

                            <div class="error" ng-show="form.billingCity.$error.required">Required!</div>

                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-sm-4 control-label">State</label>

                        <div class="col-sm-8">
                            <select class="form-control" ng-model="data.billingStateId"
                                    ng-options="state.id as state.stateDesc | titleCase for state in states | filter:stateByCountry(data.billingCountryId)">
                                <option value="">-- Select --</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-sm-4 control-label">Zip/Postal</label>

                        <div class="col-sm-8">
                            <input type="text" name="billingPostalCode" class="form-control"
                                   ng-model="data.billingPostalCode" required>

                            <div class="error" ng-show="form.billingPostalCode.$error.required">Required!</div>

                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-sm-4 control-label">Country</label>

                        <div class="col-sm-8">
                            <select class="form-control" ng-model="data.billingCountryId"
                                    ng-options="country.id as country.countryDesc | titleCase for country in countries">
                                <option value="">-- Select --</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Contact Preferences</h4>
                </div>
                <div class="panel-collapse collapse in" id="collapse-four">
                    <div class="panel-body pl_30">
                        <label ng-repeat="notification in data.userNotifications" class="checkbox">
                            <input type="checkbox" ng-model="notification.userId" ng-true-value="{{data.userId}}"
                                   ng-false-value="-1" ng-checked="notification.notificationType.id">

                            <p>{{notification.notificationType.notificationDesc}}</p>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </tab>

    <tab heading="Contracts">
        <div class="pt_10">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th></td>
                    <th>Agreement Number</td>
                    <th class="hidden-xs">Plan Name</td>
                    <th>Effective Date</td>
                    <th>Manufacturer</td>
                    <th>Product</td>
                    <th class="hidden-xs">Plan Status</td>
                </tr>
                </thead>
                <tr ng-repeat-start="contract in contracts">
                    <td ng-click="contractDetails = !contractDetails">
                        <span ng-show="contractDetails" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-minus"></i></span>
                        <span ng-show="!contractDetails" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-plus"></i></span>
                    </td>
                    <td>{{contract.contractNumber}}</td>
                    <td>{{contract.displayName}}</td>
                    <td>{{contract.effectiveDate | date}}</td>
                    <td>{{contract.sales.saleProducts[0].manufacturerName | titleCase}}</td>
                    <td>{{contract.sales.saleProducts[0].productDescription | titleCase}}</td>
                    <td class="hidden-xs"><span ng-show="contract.isActive== true">Active</span><span ng-hide="contract.isActive== true">Inactive</span>  </td>
                </tr>
                <tr ng-show="contractDetails" ng-repeat-end>
                    <td colspan="7" class="gray">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 mb_10">
                                <div ng-repeat="sale in contract.sales.saleProducts" class="box white">
                                    <!--| matchArrayOnId:contract.contractProducts-->
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12  col-xs-12 heading_blue">Product Info</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-6  col-xs-6">Manufacturer</div>
                                        <div class="col-md-5 col-sm-6  col-xs-6">{{sale.manufacturerName | titleCase}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-6  col-xs-6">Product</div>
                                        <div class="col-md-5 col-sm-6  col-xs-6">{{sale.productDescription | titleCase}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-6  col-xs-6">Model Number:</div>
                                        <div class="col-md-5 col-sm-6  col-xs-6">{{sale.modelNumber}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-6  col-xs-6">Serial Number:</div>
                                        <div class="col-md-5 col-sm-6  col-xs-6">{{sale.serialNumber}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-6  col-xs-6">Manufacturer :</div>
                                        <div class="col-md-5 col-sm-6  col-xs-6">{{sale.serialNumber}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-6  col-xs-6">Date of Purchase:</div>
                                        <div class="col-md-5 col-sm-6  col-xs-6">{{sale.productPurchaseDate | date }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-6  col-xs-6">Retail Price:</div>
                                        <div class="col-md-5 col-sm-6  col-xs-6">{{sale.productRetailPrice | currency}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-6  col-xs-6">Address:</div>
                                        <div class="col-md-5 col-sm-6  col-xs-6">{{ contract.sales.saleUser.serviceAddressLine1}}</div>
                                    </div>
                                    <div class="row" ng-show="contract.sales.saleUser.serviceAddressLine2">
                                        <div class="col-md-5 col-sm-6  col-xs-6">&nbsp;</div>
                                        <div class="col-md-5 col-sm-6  col-xs-6">{{contract.sales.saleUser.serviceAddressLine2}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-6  col-xs-6">&nbsp;</div>
                                        <div class="col-md-5 col-sm-6  col-xs-6">{{contract.sales.saleUser.serviceCity}}, {{contract.sales.saleUser.serviceStateId}}, {{contract.sales.saleUser.servicePostalCode}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">&nbsp;</div>
                                        <div class="col-md-5">&nbsp;</div>
                                    </div>
                                </div>



                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 mb_10 edt">
                                <form class="box white" name="AgreementInfoForm" start-mode="'view'" ng-submit="savePlanName(contract, AgreementInfoForm)">

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12 heading_blue">Agreement Information</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-6  col-xs-6"><span class="CHeight">Plan Name:</span></div>
                                        <div class="col-md-7 col-sm-6  col-xs-6">
                                            <input type="text" name="txtPlanName" class="form-control input_dis" ng-model="contract.displayName">
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-6  col-xs-6">Plan Code:</div>
                                        <div class="col-md-7 col-sm-6  col-xs-6">{{contract.warranty.warrantySKU  }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-6  col-xs-6">Service Plan:</div>
                                        <div class="col-md-7 col-sm-6  col-xs-6">{{contract.description}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-6  col-xs-6">Plan Retail Price:</div>
                                        <div class="col-md-7 col-sm-6  col-xs-6">{{contract.sales.warrantyRetailPrice | currency}}</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <button id="btnCancel2" type="button" class="btn btn-blue pull-right ml_5"
                                                    ng-show="AgreementInfoForm.$editMode"
                                                    ng-click="AgreementInfoForm.$rollbackUnsavedChanges(); AgreementInfoForm.$setViewMode()">Cancel</button>
                                            <button id="brnSave_address" type="submit" class="btn btn-blue pull-right" ng-show="AgreementInfoForm.$editMode">Save</button>
                                            <button id="editInfo_pi" type="button"  class="btn btn-blue pull-right" ng-show="AgreementInfoForm.$viewMode" ng-click="AgreementInfoForm.$setEditMode()">Edit Info</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 mb_10">
                                <div class="box white">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12  col-xs-12 heading_blue">Service Plan Coverage</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-6  col-xs-6">Term:</div>
                                        <div class="col-md-7 col-sm-6  col-xs-6">{{contract.warranty.warrantyTerm }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-6  col-xs-6">Effective Date:</div>
                                        <div class="col-md-7 col-sm-6  col-xs-6">{{contract.warranty.effectiveDate | date}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-6  col-xs-6">Expiration Date:</div>
                                        <div class="col-md-7 col-sm-6  col-xs-6">{{contract.warranty.expirationDate | date}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-6  col-xs-6">Type of Service:</div>
                                        <div class="col-md-7 col-sm-6  col-xs-6">{{contract.warranty.warrantyDescription}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 mb_10">
                                <div class="box white">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12 heading_blue">Additional Coverage</div>
                                    </div>

                                    <div class="row" ng-if="!contract.additionalCoverages.length">
                                        <div class="col-md-12 col-sm-12 col-xs-12">None found</div>
                                    </div>

                                    <div class="row" ng-repeat-start="coverage in contract.additionalCoverages">
                                        <div class="col-md-5 col-sm-6  col-xs-6"><b><u>Power Surge</u> :-</b></div>
                                        <div class="col-md-7 col-sm-6  col-xs-6"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5 col-sm-6  col-xs-6">Start Date: </div>
                                        <div class="col-md-7 col-sm-6  col-xs-6">01/10/2014</div>
                                    </div>

                                    <div class="row" ng-repeat-end>
                                        <div class="col-md-5 col-sm-6  col-xs-6">Expiration Date: </div>
                                        <div class="col-md-7 col-sm-6  col-xs-6">01/10/2018</div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 mb_10" >
                                <div class="box white h_min_168">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12  col-xs-12 heading_blue">View Uploaded Documents</div>
                                    </div>
                                    <div class="row" ng-if="!contract.contractAttachments.length">
                                        <div class="col-md-12 col-sm-12  col-xs-12">
                                            <button type="button" class="btn  btn-link">None found</button>
                                        </div>
                                    </div>
                                    <div class="row" ng-repeat="attachment in contract.contractAttachments">
                                        <div class="col-md-12 col-sm-12  col-xs-12">
                                            <a href="{{attachment.attachmentUrl}}/download">{{attachment.attachmentName}}</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12 mt_10 heading_blue">Upload New Document</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input type="file" ng-file-select="onFileSelect($files, contract.id)" multiple>
                                            Chosen files are automatically uploaded
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12  col-xs-12 center-text">
                                <button id="btnViewPrintContract" type="submit" class="btn btn-blue" data-toggle="modal" data-target="#myViewPrintContract ">View & Print Agreement</button>
                                <button type="button" class="btn btn-blue ml_5" ng-click="openClaimModal(contract)">File Claim/Service Request</button>
                                <button type="button" class="btn btn-blue ml_5" ng-click="openTransferModal(contract)">Transfer Ownership</button></button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </tab>
    <tab heading="Claims">
        <div class="pt_10" ng-repeat="claim in claims">
            <div ng-show="claim.claimHistories.length" class="mb_20">
                <h5>Product: <b>{{claim.productTypeDisplayName}}</b></h5>
                <span>Claim Description: <b>{{claim.claimDescription}}</b></span><br/>
                <span>Plan Name: <b>{{claim.contractDisplayName}}</b></span><br/>
                <span>Request Date & Time: <b>{{claim.claimReportDate | date}}</b></span>

                <table class="table table-bordered table-striped">
                    <tr class="grid_header">
                        <td width="30%">Date</td>
                        <td width="30%">Submitted By</td>
                        <td  width="40%" class="hidden-xs">Description</td>
                    </tr>
                    <tr ng-repeat="history in claim.claimHistories">
                        <td>{{history.createdOn | date}}</td>
                        <td>{{history.createdBy}}</td>
                        <td class="hidden-xs">{{history.notes || history.claimStatus}}</td>
                    </tr>
                </table>
                <hr>
            </div>
        </div>
    </tab>
</tabset>
</form>
<br/>
