<form class="form-horizontal" name="userForm">
    <div class="row buttonbar">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <h3 class="buttonbar-title">File Details</h3>
        </div>
        <div class="ccol-md-9 col-sm-9 col-xs-9">
            <button back-button class="btn btn-blue pull-right ml_5">Back</button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">File Status</h4>
        </div>
        <div class="panel-collapse">
            <div class="panel-body">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">File Uploaded</label>

                        <div class="col-sm-9 form-text">
                            {{sales.uploaded }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Sales Received</label>

                        <div class="col-sm-9 form-text">
                            {{sales.received }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Processed Correctly</label>

                        <div class="col-sm-9 form-text">
                            {{sales.processed }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Failed</label>

                        <div class="col-sm-9 form-text">
                            {{sales.failed }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Notification Sent</label>

                        <div class="col-sm-9 form-text">
                            {{sales.notificationSent }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Error Sales Submitted On</label>

                        <div class="col-sm-9 form-text">
                            {{sales.errorsSubmitted }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Processed/Corrected</label>

                        <div class="col-sm-9 form-text">
                            <a ui-sref="salesProcessed({ id: 1 })">60</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Errors</label>

                        <div class="col-sm-9 form-text">
                            <a ui-sref="salesErrors({ id: 1 })" class="bold">9</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>