<div class="clearfix center-text pt_10">
    <div class="pull-left ml_5">
        <h3>Sale Files</h3>
        Showing {{totalItems }} of {{data.length }} records.
    </div>
    <form class="form-inline" role="search" name="filesForm">
        <div class="form-group mr_10p">
            <h6>Filter</h6>
        </div>
        <div class="form-group mr_10p">
            <select class="form-control" id="filesForm.month" data-ng-model="month">
                <option value="">Month</option>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
        <div class="form-group mr_10p">
            <select class="form-control" id="filesForm.year" data-ng-model="year">
                <option value="">Year</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Freetext Search" id="filesForm.search"
                   data-ng-model="search"/>
        </div>
        <button ng-click="resetForm('filesForm')" class="vertical-top btn btn-warning"><i class="fa fa-refresh"></i>
            Reset
        </button>
        <button ui-sref="fileUpload" class="btn btn-blue text-center pull-right"><i class="fa fa-plus"></i> Upload File
        </button>
    </form>

</div>

<div class="center-text">
    <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th width="2%"></th>
        <th>File Name</th>
        <th>Uploaded</th>
        <th>Received</th>
        <th>Processed</th>
        <th>Errors</th>
        <th>Notifications Sent</th>
        <th>Error Sales Submitted</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td><a ui-sref="file({id: 1})">75040_CAT_140219.CSV</a></td>
        <td>02/06/2014 - 08:30</td>
        <td><a ui-sref="sales({ id: 1 })">60</a></td>
        <td><a ui-sref="salesProcessed({ id: 1 })">60</a></td>
        <td><a ui-sref="salesErrors({ id: 1 })" class="bold">9</a></td>
        <td>02/11/2014 - 8:00</td>
        <td>02/14/2014 - 14:23</td>
    </tr>
    </tbody>
</table>

<div class="center-text">
    <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>

