<div class="col-md-6 col-sm-8 col-xs-10 col-md-offset-3 col-sm-offset-2 col-xs-offset-1" ng-hide="ses.$user.id">
    <div class="box white">
        <h4 class="text-center">Login</h4>
        <br/>

        <form name="loginDealerForm" ng-submit="loginDealerAction()">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw text-blue"></i></span>
                <input class="form-control" type="email" name="email" ng-model="loginDealer.email"
                       placeholder="E-mail address" required/>
            </div>
            <div class="error" ng-show="loginDealerForm.email.$error.required && loginDealerForm.email.$dirty">
                An e-mail address is required.
            </div>
            <div class="error" ng-show="loginDealerForm.email.$invalid && loginDealerForm.email.$dirty && !loginDealerForm.email.$error.required">
                Invalid e-mail address
            </div>

            <div class="input-group mt_20">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw text-blue"></i></span>
                <input class="form-control" type="password" ng-model="loginDealer.password" placeholder="Password" required/>
            </div>

            <div class="col-lg-12 text-center mt_20">
                <button id="loginButton" type="submit" class="btn btn-blue" ng-disabled="loginDealerForm.$pristine || loginDealerForm.$valid === false ">Login
                </button>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>


<div class="col-md-6 col-sm-12 col-xs-12" ng-show="ses.$user.id">
    Welcome to the BWG Dealer Portal.
</div>
