<div class="modal-header btn-warning">
    <h3 class="modal-title btn-warning">Confirm</h3>
</div>
<div class="modal-body">
    Delete sale product?
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="$close()"><i class="fa fa-check"></i> OK</button>
    <button class="btn btn-success" ng-click="$dismiss()"><i class="fa fa-ban"></i> Cancel</button>
</div>