<div class="modal-header btn-warning">
    <h4 class="modal-title btn-warning" id="myModalLabel">Saving data</h4>
</div>
<div class="modal-body center">
    You have unsaved changes.<br/>
    <br/>

</div>
<div class="modal-footer">
    <button type="submit" ng-click="save()" class="btn btn-warning "><i class="fa fa-check"></i> Save</button>
    <button type="submit" ng-click="ignore()" class="btn btn-danger "><i class="fa fa-exclamation"></i> Ignore</button>
    <button type="submit" ng-click="cancel()" class="btn btn-success "><i class="fa fa-times"></i> Cancel</button>
</div>
