<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3">
        <h3 class="pt_10">Resources</h3>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9">
    </div>
</div>

<table class="table table-bordered table-striped">

    <tr>
        <td width="10%">Logo</td>
        <td width="10%"><img src="images/logo.png" width="300"></td>
        <td width="80%"><input type="button" class="btn btn-blue text-center" value="Upload New" data-toggle="modal" data-target="#myModal"/></td>
    </tr>
    <tr>
        <td width="10%">Main Image</td>
        <td width="10%"><img src="images/bg.jpg" width="300"></td>
        <td width="80%"><input type="button" class="btn btn-blue text-center" value="Upload New" data-toggle="modal" data-target="#myModal"/></td>
    </tr>
    <tr>
        <td width="10%">Style Sheet</td>
        <td width="10%">
            <textarea readonly rows="10" cols="40">body {
                font-family: Arial, Helvetica, sans-serif;
                background-color: #efefef;
                }

                .header .navbar-default {
                background-color: #9DBFE2;
                }

                .top {
                background-color: #000;
                }

                .header .navbar-default .navbar-nav > li > a {
                color: #000;
                }

                .well {
                background-color: #f9f9f9;
                }
            </textarea>
        </td>
        <td width="80%"><input type="button" class="btn btn-blue text-center" value="Edit" data-toggle="modal" data-target="#myModal"/></td>
    </tr>
</table>
