<div class="row buttonbar">
    <div class="col-md-3 col-sm-3 col-xs-3">
        <h3 class="buttonbar-title">Edit Sale</h3>
    </div>
    <div class="ccol-md-9 col-sm-9 col-xs-9">
        <button ui-sref="salesProcessed" class="btn btn-blue pull-right ml_5"><i class="fa fa-times"></i> Cancel
        </button>
        <button ng-click="save()" class="btn btn-blue pull-right"><i class="fa fa-check"></i> Save</button>
    </div>
</div>

<form novalidate class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Store Information</h4>
        </div>
        <div class="panel-collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Store</label>

                            <div class="col-sm-8">
                                <input type="text" id="focus" class="form-control" ng-model="data.store" autofocus="autofocus" placeholder="Store #">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Employee</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="data.salesClerk" placeholder="Employee #">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a>Customer Information</a></h4>
        </div>
        <div class="panel-collapse">
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Last Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="data.saleUser.lastName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">First Name</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="data.saleUser.firstName">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Phone #</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="data.saleUser.primaryPhone">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">E-mail</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="data.saleUser.primaryEmail">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Alt. Phone #</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="data.saleUser.secondaryPhone">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Alt. E-mail</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="data.saleUser.secondaryEmail">
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Address Line 1</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="data.saleUser.billingAddressLine1">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Address Line 2</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="data.saleUSer.billingAddressLine2">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">City</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="data.saleUser.billingCity">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Zip</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="data.saleUser.billingPostalCode">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Country</label>

                            <div class="col-sm-8">
                                <select class="form-control" ng-model="data.billingCountryId"
                                        ng-options="country.id as country.countryDesc | titleCase for country in countries  | orderBy:'countryDesc':reverse">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">State</label>

                            <div class="col-sm-8">
                                <select class="form-control" ng-model="data.state"
                                        ng-options="state.id as state.stateDesc | titleCase for state in states | filter:stateByCountry(data.billingCountryId)  | orderBy:'stateDesc':reverse">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div ng-repeat="sale in data.saleProducts" class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Warranty/Product Information
                <button class="pull-right btn-danger btn btn-xs" ng-click="removeSaleProduct($index)" tabindex="-1">
                    <span class="fa fa-trash-o"></span></button>
            </h4>
        </div>
        <div class="panel-collapse">
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>

                            <div class="col-sm-8">
                                <h4>Warranty Information</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Warranty DOP</label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-fw fa-calendar"></i>
                                </span>
                                    <input type="text" class="form-control"
                                           ng-model="data.warrantyPurchaseDate"
                                           datepicker-popup="dd-MMMM-yyyy"
                                           datepicker-options="dateOptions"
                                           show-button-bar="false"
                                           date-disabled="disabled(date, mode)"
                                           ng-required="true"
                                           close-text="Close"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Category</label>

                            <div class="col-sm-8">
                                <select class="form-control" ng-model="sale.productCategory"
                                        ng-options="category.id as category.categoryDesc | titleCase for category in categories  | orderBy:'categoryDesc':reverse">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Warranty SKU</label>

                            <div class="col-sm-8">
                                <select class="form-control" ng-model="sale.warrantySKU"
                                        ng-options="warranty.warrantySKU as warranty.warrantySKU + ' - ' + warranty.warrantyDescription for warranty in warrantySkus  | orderBy:'warrantySKU':reverse">
                                    <option value="">-- Select --</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Addtl. Warranty SKU</label>

                            <div class="col-sm-8">
                                <select class="form-control" ng-model="sale.additionalSku"
                                        ng-options="warranty.warrantySKU as warranty.warrantySKU + ' - ' + warranty.warrantyDescription for warranty in warrantySkusAdditional  | orderBy:'warrantySKU':reverse">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Quantity</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="data.quantity">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Retail price</label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-fw fa-usd"></i>
                                </span>
                                    <input type="text" class="form-control" ng-model="data.warrantyRetailPrice" currency-mask>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>

                            <div class="col-sm-8">
                                <h4>Product Information</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Product DOP</label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-fw fa-calendar"></i>
                                </span>
                                    <input type="text" class="form-control"
                                           ng-model="sale.productPurchaseDate"
                                           datepicker-popup="dd-MMMM-yyyy"
                                           datepicker-options="dateOptions"
                                           show-button-bar="false"
                                           date-disabled="disabled(date, mode)"
                                           ng-required="true"
                                           close-text="Close"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Product Description</label>

                            <div class="col-sm-8">
                                <select class="form-control"
                                        ng-model="sale.productDescription"
                                        ng-options="product.id as product.productTypeDesc | titleCase for product in productTypes | orderBy:'productTypeDesc':reverse">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Manufacturer</label>

                            <div class="col-sm-8">
                                <select class="form-control" ng-model="sale.manufacturerName"
                                        ng-options="manufacturer.id as manufacturer.manufacturerDesc | titleCase for manufacturer in manufacturers  | orderBy:'manufacturerDesc':reverse">
                                    <option value="">-- Select --</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Model #</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="sale.modelNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Serial #</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="sale.serialNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Retail price</label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-fw fa-usd"></i>
                                </span>
                                    <input type="text" class="form-control" ng-model="sale.productRetailPrice" currency-mask>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <button class="mb_10 pull-right btn btn-primary" ng-click="addSaleProduct()"><i class="fa fa-plus"></i> Add Product</button>
</form>
