<div class="clearfix center-text pt_10">
    <div class="pull-left ml_5">
        <h3>Processed Sales</h3>
        Showing {{totalItems }} of {{data.length }} records.
    </div>
    <form class="form-inline" role="search" name="salesForm">
        <div class="form-group mr_10p">
            <h6>Filter</h6>
        </div>
        <div class="form-group mr_10p">
            <select class="form-control" id="salesForm.month" ng-model="month" name="month">
                <option value="">Month</option>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
        <div class="form-group mr_10p">
            <select class="form-control" id="salesForm.year" ng-model="year" name="year">
                <option value="">Year</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Freetext Search" id="salesForm.search"
                   ng-model="search" name="search"/>
        </div>
        <button ng-click="resetForm('salesForm')" class="vertical-top btn btn-warning"><i class="fa fa-refresh "></i>
            Reset
        </button>
        <button ui-sref="sale ({id: -1})" class="btn btn-blue text-center pull-right"><i class="fa fa-plus"></i>
            Register Sale
        </button>
    </form>
</div>


<div class="center-text">
    <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th width="2%"></th>
        <th>File Name</th>
        <th>Customer Name</th>
        <th>Manufacturer</th>
        <th>Product Desc</th>
        <th>Model</th>
        <th class="hidden-xs">Warranty SKU</th>
        <th class="hidden-xs">Date of Purchase</th>
        <th class="hidden-xs">Agreement</th>
        <th class="hidden-xs">Corrected</th>
    </tr>
    </thead>

    <tr ng-repeat="sale in filteredData |  orderBy:'name':reverse | orderBy:predicate | startFrom:startFrom | limitTo:pageSize">
        <td><a ui-sref="sale({ id: sale.id})"><i class="fa fa-pencil-square-o"></i></a></td>
        <td><a ui-sref="sales({id: 1})"></a></td>
        <td>{{sale.saleUser.firstName}} {{sale.saleUser.lastName}}</td>
        <td>{{sale.saleProducts[0].manufacturerName}}</td>
        <td>{{sale.saleProducts[0].productDescription}}</td>
        <td>{{sale.saleProducts[0].modelNumber}}</td>
        <td class="hidden-xs">{{sale.warrantySKU}} <span ng-show="sale.additionalWarrantySKU">({{sale.additionalWarrantySKU}})</span>
        </td>
        <td class="hidden-xs">{{sale.saleProducts[0].productPurchaseDate | date}}</td>
        <td class="hidden-xs"></td>
        <td class="hidden-xs"></td>
    </tr>
</table>

<div class="center-text">
    <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
