<div class="clearfix center-text pt_10">
    <div class="pull-left ml_5">
        <h3>Stores</h3>
        Showing {{totalItems }} of {{data.length }} records.
    </div>
    <form class="form-inline" role="search" name="storesForm">
        <div class="form-group mr_10p">
            <h6>Filter</h6>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Freetext Search" id="storesForm.search"
                   ng-model="search" name="search"/>
        </div>
        <button ng-click="resetForm('storesForm')" class="vertical-top btn btn-warning mr10 mb5"><i
                class="fa fa-refresh "></i> Reset
        </button>
    </form>
</div>
<div class="center-text">
    <pagination class="pagination" boundary-links="true" total-items="totalItems" ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>

<table class="table table-bordered table-striped">
    <thead>
    <tr class="grid_header">
        <th width="2%"></th>
        <th>Store No</th>
        <th>Store Name</th>
        <th class="hidden-xs">Address</th>
        <th class="hidden-xs">City</th>
        <th class="hidden-xs">State</th>
        <th>Zip
        </td>
        <th class="hidden-xs">Phone #</th>
        <th class="hidden-xs">Contact</th>
    </tr>
    </thead>

    <tr>
        <td><a ui-sref="store({ id: store.id })"><i class="fa fa-pencil-square-o"></i></a></td>
        <td>123</td>
        <td>Abbots</td>
        <td class="hidden-xs">6680 Ameila Earhart Ct. Suite 100</td>
        <td class="hidden-xs">Las Vegas</td>
        <td class="hidden-xs">NV</td>
        <td>89919</td>
        <td class="hidden-xs">702-873-8503</td>
        <td class="hidden-xs">Willie Huston</td>
    </tr>
</table>

<div class="center-text">
    <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
