<div class="row buttonbar">
    <div class="col-md-3 col-sm-3 col-xs-3">
        <h3 class="buttonbar-titlet">Edit Store</h3>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9">
        <button ui-sref="stores" class="btn btn-blue text-center pull-right ml_5"><i class="fa fa-times"></i> Cancel
        </button>
        <button class="btn btn-blue text-center pull-right"><i class="fa fa-check"></i> Save</button>
        </form>
    </div>
</div>
<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Store Information</h4>
        </div>
        <div class="panel-collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Store #</label>

                            <div class="col-sm-9">
                                <input type="text" id="focus" class="form-control" ng-model="store.storeid"
                                       autofocus="autofocus" placeholder="Store Number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="store.name" placeholder="Store Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="store.address1"
                                       placeholder="Address Line 1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="store.address1"
                                       placeholder="Address Line 2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">City</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="store.city" placeholder="City">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">State</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="store.state" placeholder="State">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Zip</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="store.zip" placeholder="Zip Code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Phone #</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="store.phone"
                                       placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Contact</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="store.contact"
                                       placeholder="Contact Name">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
