<form class="form-horizontal" name="userForm" ng-submit="save()">
    <div class="row buttonbar">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <h3 class="buttonbar-title">Edit User</h3>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9">
            <button ui-sref="users" class="btn btn-blue pull-right ml_5"><i class="fa fa-times"></i> Cancel</button>
            <button type="submit" class="btn btn-blue pull-right"><i class="fa fa-check"></i> Save</button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">User Information</h4>
        </div>
        <div class="panel-collapse">
            <div class="panel-body">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">E-mail (Username)</label>

                        <div class="col-sm-8">
                            <input type="email" name="email" class="form-control" ng-model="data.primaryEmail" ng-readonly="data.$id" required>
                            <div class="error" ng-show="userForm.email.$error.email && userForm.email.$dirty">
                                A valid e-mail address is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Password</label>

                        <div class="col-sm-8">
                            <input type="password" class="form-control" name="password" ng-model="data.password" ng-required="requirePassword()" ng-minlength="8" ng-maxlength="50"  ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" >

                            <div class="error" ng-show="(userForm.password.$error.minlength || userForm.password.$error.maxlength || userForm.password.$error.pattern ) && userForm.password.$dirty">
                                A password between 8 and 50 characters with one uppercase letter and one number is required.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Repeat Password</label>

                        <div class="col-sm-8">
                            <input type="password" class="form-control" name="repeatPassword" ng-model="data.repeatPassword" compare-to="data.password">

                            <div class="error" ng-show="userForm.repeatPassword.$error.compareTo">
                                Repeat password is not equal to password!
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Last Name</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="data.lastName" name="lastName" required>
                            <div class="error" ng-show="userForm.lastName.$error.required && userForm.lastName.$dirty">
                                A last name is required.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">First Name</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="data.firstName" name="firstName" required>
                            <div class="error" ng-show="userForm.firstName.$error.required && userForm.firstName.$dirty">
                                A first name is required.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Phone #</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="data.phone">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</form>