<div class="clearfix center-text pt_10">
    <div class="pull-left ml_5">
        <h3>Users</h3>
        Showing {{totalItems }} of {{data.length }} records.
    </div>
    <form class="form-inline" role="search" name="usersForm">
        <div class="form-group mr_10p">
            <h6>Filter</h6>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Freetext Search" id="usersForm.search"
                   ng-model="search" name="search"/>
        </div>
        <button ng-click="resetForm('storesForm')" class="vertical-top btn btn-warning"><i class="fa fa-refresh "></i>
            Reset
        </button>
        <button ui-sref="user ({id: -1})" class="btn btn-blue text-center pull-right"><i class="fa fa-plus"></i> Add
            User
        </button>
    </form>
</div>
<div class="center-text">
    <pagination class="pagination" boundary-links="true" total-items="totalItems" ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>


<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th width="2%"></th>
        <th width="15%">User Role</th>
        <th width="25%">Last Name</th>
        <th width="25%" class="hidden-xs">First Name</th>
        <th width="18%" class="hidden-xs">Email Address</th>
        <th width="2%"></th>
    </tr>
    </thead>
    <tr ng-repeat="user in filteredData |  orderBy:'name':reverse | orderBy:predicate | startFrom:startFrom | limitTo:pageSize">
        <td><a ui-sref="user({id: user.userName})"><i class="fa fa-pencil-square-o"></i></a></td>
        <td>{{user.roleId}}</td>
        <td>{{user.lastName}}</td>
        <td class="hidden-xs">{{user.firstName}}</td>
        <td class="hidden-xs">{{user.primaryEmail}}</td>
        <td><i class="fa fa-trash-o pointer" ng-click="deleteUser(user.userName)"></i></td>
    </tr>

</table>

<div class="center-text">
    <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
