<!doctype html>
<html lang="en">
<head>
    <title>Bankers Warranty Group Dealer Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/AngularJS-Toaster/toaster.css">
    <link rel="stylesheet" href="bower_components/font-awesome-bower/css/font-awesome.css">

    <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="dealerPortal" ng-controller="MainController">
<div class="pt_5 top" id="topmenu">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <ul class="loginbar text-white">
                    <li>
                        <i class="fa fa-phone"></i> <label id="lblContactNumbrt">1-800-824-3000</label>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <ul class="loginbar pull-right ml_5" ng-show="ses.$user.id">
                    <li class="dropdown">
                        <a ng-show="ses.$user.firstName" href="#" class="dropdown-toggle text-white" data-toggle="dropdown">
                            Welcome {{ses.$user.firstName}}! <i class="fa fa-caret-down "></i></a>
                        <ul class="dropdown-menu">
                            <li><button type="button" id="Button1" class="btn btn-link" ng-click="changePassword()">Change Password</button></li>
                            <li><button type="button" class="btn btn-link" ng-click="logout()">Logout</button></li>
                        </ul>
                    </li>
                </ul>
                <ul class="loginbar pull-right">
                    <li>
                        <span class="btn btn-blue btn-xs  pull-right mr_20p">
                            <i class="fa fa-comments "></i> <a href="http://messenger.providesupport.com/messenger/1w2uu65dvg0e30q8vxzu2vflrx.html" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" target="_blank">Chat with service representative</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="topmenufix"></div>

<div class="dp_menu">
    <nav class="navbar navbar-default m_0" role="navigation">
        <div class="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <a href="#"><img src="images/logo.png" class="img-responsive" align="left"/></a>

                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="home" ui-sref-active="active">Home</a></li>
                    <li><a ui-sref="files" ng-class="{ active:  $state.includes('files') || $state.includes('file')}">Files</a></li>
                    <li><a ui-sref="salesProcessed" ng-class="{active:  $state.includes('sale') || $state.includes('salesProcessed')}">Sales</a></li>
                    <li><a ui-sref="salesErrors" ui-sref-active="active">Errors</a></li>
                    <!--
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Sales Management <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                  <li><a ui-sref="salesFile" ui-sref-active="active">View a Sales File </a></li>
                                  <li><a ui-sref="salesFileErrors" ui-sref-active="active">Error Corrections</a></li>
                                </ul>
                              </li>
                    -->
                    <li><a ui-sref="contracts" ng-class="{ active: $state.includes('contracts') || $state.includes('contract')}">Contracts</a></li>
                    <li><a ui-sref="customers" ng-class="{ active: $state.includes('customers') || $state.includes('customer')}">Customers</a></li>
                    <li><a ui-sref="users" ng-class="{ active: $state.includes('users') || $state.includes('user')}">Users</a></li>
                    <li><a ui-sref="stores" ng-class="{ active: $state.includes('stores') || $state.includes('store')}">Stores</a></li>
                    <li><a ui-sref="resources" ui-sref-active="active">Resources</a></li>
                    <li><a ui-sref="contact" ui-sref-active="active">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="col-md-12 white clearfix">
    <div ui-view="">
        <div class="h3 alert-info padding_20 m_10 center-text">
            <!--[if lt IE 9]>
            <br/>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser.
                <br/><br/>
                Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <br/>
            <![endif]-->
            Please wait while the rest of the website is loading...<br/>
            <br/>
            <img src="images/ajax-loader.gif" class="text-center">
        </div>
    </div>
</div>

<div class="copyright border-top">
    <div class="col-md-8 col-sm-8 col-xs-8 mt_10">
        <span class="small visible-lg visible-md visible-sm hidden-xs">&copy; 2014 Bankers Warranty Group, All Rights Reserved. |
            <a href="#">Privacy Policy and Terms of Use</a>
        </span>
        <span class="small hidden-lg hidden-md hidden-sm visible-xs">&copy; 2014 BWG |
            <a href="#">Privacy Policy and Terms of Use</a>
        </span>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 mt_10">
        <div class="small pull-right">Powered by <img id="logo-footer" src="images/bwg.png" class="pull-right ml_5" alt=""/></div>
    </div>
</div>
<toaster-container toaster-options="{'time-out': 3000, 'position-class': 'toast-bottom-right'}"></toaster-container>
<div ng-show="waiting" class="waiting-background"></div>
<div ng-show="waiting" class="waiting-overlay">Please wait...</div>

<!-- build:js scripts/vendorDealer.js -->
<!-- No jQuery or bootstrap JS included. Use Angular and UI bootstrap functions instead -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/AngularJS-Toaster/toaster.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scriptsDealer.js -->
<script src="scripts/settings.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/filters.js"></script>
<script src="scripts/services.js"></script>
<script src="scripts/functions.js"></script>
<script src="scripts/directives.js"></script>
<script src="scripts/controllers.js"></script>
<!-- endbuild -->
</body>
</html>
