<html>
<head>
    <title>Angular Demo</title>
    <link href="css.css" rel="stylesheet">
</head>
<body ng-app="myApp" ng-controller="mainController">
Input: <input ng-model="input"><br/><br/>
Output: <b>{{input}}</b><br/><br/>
Format output to uppercase: <b>{{input | uppercase}}</b><br/><br/>
Date output: <b>{{input | date:fullDate}}</b><br/><br/>


<br><br>
<a href="2.html">Next</a>
<script language="JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js"></script>
<script>
    angular.module('myApp', [])
            .controller("mainController", function($scope, $location){
                $scope.input = 'hello world';
            });
</script>
</body>
</html>