<html>
<head>
    <title>Angular Demo</title>
    <link href="css.css" rel="stylesheet">
</head>
<body ng-app="myApp" ng-controller="mainController">

<div class="container">
    <h1>Bootstrap</h1>
    Filter: <input ng-model="listFilter"><br/>
    Number of results: {{items.length}} / Results shown: {{totalItems}}<br/>
    <hr>

    <div style="text-align: center">
        <pagination class="pagination" boundary-links="true" total-items="totalItems" max-size=10 ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Quest</th>
            <th>Favorite Color</th>
        </thead>
        <tr ng-repeat="item in filteredItems |  orderBy:'name':reverse | startFrom:startFrom | limitTo:pageSize" ng-hide="waiting">
            <td>{{item.name}}</td>
            <td>{{item.quest}}</td>
            <td>{{item.color}}</td>
        </tr>
    </table>

    <div ng-show="waiting" style="background-color: aqua; padding:5px; border: 1px solid red;">
        Please wait while the data is loaded....
    </div>

    <div style="text-align: center">
        <pagination class="pagination" boundary-links="true" total-items="totalItems" max-size=10 ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>

    <br><br>
    <a href="11.html">Next</a>
</div>

<toaster-container></toaster-container>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.10/toaster.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap-theme.min.css">

<script language="JavaScript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular-animate.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.10/toaster.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>

<script>
    angular.module('myApp', ['toaster', 'ui.bootstrap'])
            .config(function ($httpProvider) {
                $httpProvider.interceptors.push('httpInterceptor');
            })

            .controller("mainController", function($scope, filterFilter, Data){
                $scope.listFilter = '';

                $scope.$watch('listFilter', function () {
                    if($scope.items) {
                        $scope.filterlist($scope, filterFilter);
                    }
                })

                $scope.$watch('currentPage', function () {
                    if($scope.items) {
                        $scope.filterlist($scope, filterFilter);
                    }
                });

                $scope.filterlist = function ($scope, filterFilter){
                    $scope.pageSize = 10;

                    if (!$scope.currentPage) {
                        $scope.currentPage = 1;
                    }

                    $scope.totalItems = filterFilter($scope.items, $scope.listFilter).length;
                    $scope.filteredItems = filterFilter($scope.items, $scope.listFilter);
                    $scope.startFrom = ($scope.currentPage - 1) * $scope.pageSize;
                };

                Data.get('data.json').then(function (data) {
                    $scope.items = data;
                    $scope.filterlist($scope, filterFilter);
                });


            })
            .factory('Data', function contractsFactory ($http, $q, DataSource, Messaging) {
                return {
                    get: function (param) {

                        var deferred = $q.defer();

                        DataSource.get(param)
                                .success(function (data, status) {
                                    deferred.resolve(data);
                                    Messaging.successMessage();
                                    return deferred.promise;
                                })
                                .error(function (error, status) {
                                    Messaging.errorMessage(error, status);
                                    return deferred.promise;
                                });

                        return deferred.promise;
                    }
                }
            })
            .factory('DataSource', function contractsFactory ($http) {
                return {
                    get: function (param) {
                        return $http.get('http://localhost/demo/' + param);
                    }
                }
            })
            .factory('Messaging', ['toaster', function messagingFactory(toaster) {
                return {
                    // Error message function
                    errorMessage: function errorMessage(message, title) {
                        if (!title) {
                            title = 'Something went wrong';
                        }

                        if (!message) {
                            message = 'We forgot to put in the error message';
                        }

                        toaster.pop('error', title, message, 5000, 'trustedHtml');
                    },

                    successMessage: function successSaveMessage() {
                        toaster.pop('Info', 'Success', 'Your data has been loaded', 5000, 'trustedHtml');
                    }
                };
            }])
            .factory('httpInterceptor', ['$q', '$rootScope', '$injector',
                function ($q, $rootScope, $injector) {
                    $rootScope.waiting = false;
                    $rootScope.http = null;

                    return {
                        request: function (config) {
                            $rootScope.waiting = true;
                            return config || $q.when(config);
                        },

                        'requestError': function (rejection) {
                            // get $http via $injector because of circular dependency problem
                            $rootScope.http = $injector.get('$http');
                            if ($rootScope.http.pendingRequests.length < 1) {
                                $rootScope.waiting = false;
                            }
                            return $q.reject(rejection);
                        },

                        response: function (response) {
                            // get $http via $injector because of circular dependency problem
                            $rootScope.http = $injector.get('$http');
                            if ($rootScope.http.pendingRequests.length < 1) {
                                $rootScope.waiting = false;
                            }
                            return response || $q.when(response);
                        },

                        responseError: function (rejection) {
                            // get $http via $injector because of circular dependency problem
                            $rootScope.http = $injector.get('$http');
                            if ($rootScope.http.pendingRequests.length < 1) {
                                $rootScope.waiting = false;
                            }
                            return $q.reject(rejection);
                        }
                    };
                }
            ])
            .filter('startFrom', function startFromFilter () {
                return function (input, start) {
                    if (input) {
                        start = +start; //parse to int
                        return input.slice(start);
                    }
                    return [];
                };
            })

    ;
</script>
</body>
</html>