<html>
<head>
    <title>Angular Demo</title>
    <link href="css.css" rel="stylesheet">
</head>
<body ng-app="myApp" ng-controller="mainController">

<div class="container">
    <h1>Bootstrap</h1>
    Filter: <input ng-model="listFilter"><br/>
    Number of results: {{totalItems}}<br/>
    <hr>

    <div style="text-align: center">
        <pagination class="pagination" boundary-links="true" total-items="totalItems" max-size=10 ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th width="10%">First</th>
            <th width="10%">Last</th>
            <th width="30%">Product</th>
            <th width="5%">Model#</th>
            <th width="5%">SKU</th>
            <th width="15%">P .Date</th>
            <th width="25%">Manufacturer</th>
        </thead>

        <tr ng-repeat="item in items |  orderBy:'name':reverse | startFrom:startFrom | limitTo:pageSize" ng-hide="waiting">
            <td>{{item._source.FirstName}}</td><td>{{item._source.LastName}}</td><td>{{item._source.ProductDescription | cleanUp}}</td><td>{{item._source.ModelNumber | cleanUp}}</td><td>{{item._source.WarrantySKU | cleanUp}}</td><td>{{item._source.WarrantyPurchaseDate | date}}</td><td>{{item._source.ManufacturerName | cleanUp}}</td>
        </tr>
    </table>

    <div ng-show="waiting" style="background-color: aqua; padding:5px; border: 1px solid red;">
        Please wait while the data is loaded....
    </div>

    <div style="text-align: center">
        <pagination class="pagination" boundary-links="true" total-items="totalItems" max-size=10 ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>

    <br><br>
    <a href="12.html">Next</a>
</div>

<toaster-container></toaster-container>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.10/toaster.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap-theme.min.css">

<script language="JavaScript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular-animate.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.10/toaster.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>

<script>
    // Prototype extension for adding startsWith and endsWith to the string object.
    if (typeof String.prototype.startsWith !== 'function') {
        String.prototype.startsWith = function (str){
            return this.slice(0, str.length) === str;
        };
    }

    if (typeof String.prototype.endsWith !== 'function') {
        String.prototype.endsWith = function (str){
            return this.slice(-str.length) === str;
        };
    }


    angular.module('myApp', ['toaster', 'ui.bootstrap'])
            .config(function ($httpProvider) {
                $httpProvider.interceptors.push('httpInterceptor');
            })

            .controller("mainController", function($scope, $timeout, filterFilter, Data){
                $scope.listFilter = '';

                var timer;
                $scope.$watch('listFilter', function () {
                    // Cancels previous requests
                    $timeout.cancel(timer);

                    // Starts a new request
                    timer = $timeout(function() {

                        Data.get($scope.listFilter).then(function (data) {
                            $scope.totalItems = data.hits.total;
                            $scope.items = data.hits.hits;

                            $scope.elasticPage($scope);
                        });
                    }, 300);
                });

                $scope.$watch('currentPage', function () {
                    if($scope.items) {
                        $scope.elasticPage($scope);
                    }
                });

                $scope.filterlist = function ($scope, filterFilter){
                    $scope.pageSize = 10;

                    if (!$scope.currentPage) {
                        $scope.currentPage = 1;
                    }

                    $scope.startFrom = ($scope.currentPage - 1) * $scope.pageSize;
                };


                $scope.elasticPage = function elasticPage ($scope) {
                    if ($scope.items) {
                        if (!$scope.pageSize) {
                            $scope.pageSize = 10;
                        }
                        if (!$scope.currentPage) {
                            $scope.currentPage = 1;
                        }
                            $scope.startFrom = ($scope.currentPage - 1) * $scope.pageSize;
                    }
                };

            })
            .factory('Data', function contractsFactory ($http, $q, DataSource, Messaging) {
                return {
                    get: function (param) {

                        var deferred = $q.defer();

                        DataSource.get(param)
                                .success(function (data, status) {
                                    deferred.resolve(data);
                                    return deferred.promise;
                                })
                                .error(function (error, status) {
                                    Messaging.errorMessage(error);
                                    return deferred.promise;
                                });

                        return deferred.promise;
                    }
                }
            })
            .factory('DataSource', function contractsFactory ($http) {
                return {

                    get: function elasticContractsFactory (query) {
                        var q = {};
                        var fields = ["SalesId", "FirstName", "LastName", "ProductDescription", "ModelNumber", "WarrantySKU", "WarrantyPurchaseDate", "ManufacturerName"];

                        if (query && query.length > 0 ) {
                            q = { "_source": fields, "query": { "bool": { "must": [
                                {"match_phrase_prefix" : { "_all" :{ "query": query, "slop":  10000}}},
                                {"match": {"DealerId": 1}}
                            ]}}};
                        }
                        else {
                            q = {"_source": fields, "query": {"bool": {"must": [
                                {"match": {"DealerId": 1}}
                            ]}}};
                        }
                        return $http.post('http://localhost:9200/bwg/sales/_search?size=100', q);
                    }

                }
            })
            .factory('Messaging', ['toaster', function messagingFactory(toaster) {
                return {
                    // Error message function
                    errorMessage: function errorMessage(message, title) {
                        if (!title) {
                            title = 'Something went wrong';
                        }

                        if (message === null) {
                            message = 'Is the Elasticsearch server running?';
                        }
                        else if (!message) {
                            message = 'We forgot to put in the error message';
                        }

                        toaster.pop('error', title, message, 5000, 'trustedHtml');
                    },

                    successMessage: function successSaveMessage() {
                        toaster.pop('Info', 'Success', 'Your data has been loaded', 5000, 'trustedHtml');
                    }
                };
            }])
            .factory('httpInterceptor', ['$q', '$rootScope', '$injector',
                function ($q, $rootScope, $injector) {
                    $rootScope.waiting = false;
                    $rootScope.http = null;

                    return {
                        request: function (config) {
                            if (config.url.toString().startsWith('http://localhost')) {
                                $rootScope.waiting = false;
                            }
                            else {
                                $rootScope.waiting = true;
                            }

                            return config || $q.when(config);
                        },

                        'requestError': function (rejection) {
                            // get $http via $injector because of circular dependency problem
                            $rootScope.http = $injector.get('$http');
                            if ($rootScope.http.pendingRequests.length < 1) {
                                $rootScope.waiting = false;
                            }
                            return $q.reject(rejection);
                        },

                        response: function (response) {
                            // get $http via $injector because of circular dependency problem
                            $rootScope.http = $injector.get('$http');
                            if ($rootScope.http.pendingRequests.length < 1) {
                                $rootScope.waiting = false;
                            }
                            return response || $q.when(response);
                        },

                        responseError: function (rejection) {
                            // get $http via $injector because of circular dependency problem
                            $rootScope.http = $injector.get('$http');
                            if ($rootScope.http.pendingRequests.length < 1) {
                                $rootScope.waiting = false;
                            }
                            return $q.reject(rejection);
                        }
                    };
                }
            ])
            .filter('startFrom', function startFromFilter () {
                return function (input, start) {
                    if (input) {
                        start = +start; //parse to int
                        return input.slice(start);
                    }
                    return [];
                };
            })
            .filter('cleanUp', function cleanUp (){
                return function (text) {
                    if (text) {
                        return text.toString().replace(/["|\[|\]"]/g, ' ').replace(/,/g, ', ');
                    }
                };
            })


    ;
</script>
</body>
</html>