<html>
<head>
    <title>Angular Demo</title>
    <link href="css.css" rel="stylesheet"></head>
<h1>Show/Hide Elements</h1>
<body ng-app="myApp" ng-controller="mainController">
Check me: <input type="checkbox" ng-model="input"><br/><br/>
Output: <b>{{input}}</b><br/><br/>

<div ng-show="input">The checkbox is checked</div>
<div ng-hide="input">The checkbox is undefined or not checked</div>
<div ng-show="input===false">The checkbox is not checked</div>

<br><br>
<a href="3.html">Next</a>
<script language="JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js"></script>
<script>
    angular.module('myApp', [])
            .controller("mainController", function($scope){
            });
</script>
</body>
</html>