<html>
<head>
    <title>Angular Demo</title>
    <link href="css.css" rel="stylesheet">
</head>
<body ng-app="myApp" ng-controller="mainController">

<h1>JSON:</h1> {{items}}<br/><br/>

<hr>
<h1>ngRepeat:</h1>
<div ng-repeat="item in items">
    Name: {{item.name}}<br>
    Quest: {{item.quest}}<br>
    Favorite color: {{item.color}}<br/>
    <hr>
</div>

<br><br>
<a href="3b.html">Next</a>

<script language="JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js"></script>
<script>
    angular.module('myApp', [])
            .controller("mainController", function($scope){
                $scope.items = [
                    {name: "Espen", quest: "To find the holy grail", color: "blue"},
                    {name: "Jason", quest: "To find the holy grail", color: "red"},
                    {name: "Andrew", quest: "To find the holy grail", color: "red"},
                    {name: "Alex", quest: "I don't know", color: "green"}
                ]
            });
    
</script>
</body>
</html>