<html>
<head>
    <title>Angular Demo</title>
    <link href="css.css" rel="stylesheet">
</head>
<body ng-app="myApp" ng-controller="mainController">

<h1>JSON:</h1>


<h2>Filtered with binding to input:</h2>
Filter: <input ng-model="listFilter"><br/>
Number of results: {{items.length}} / Results shown: {{itemsShown}}<br/>
<hr>
<div ng-repeat="item in items | filter:listFilter">
    Name: {{item.name}}<br>
    Quest: {{item.quest}}<br>
    Favorite color: {{item.color}}<br/>
    <hr>
</div>
<br><br>
<a href="5.html">Next</a>



<script language="JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js"></script>
<script>
    angular.module('myApp', [])
            .controller("mainController", function($scope, filterFilter){
                $scope.items = [
                    {name: "Espen", quest: "To find the holy grail", color: "blue"},
                    {name: "Jason", quest: "To find the holy grail", color: "red"},
                    {name: "Andrew", quest: "To find the holy grail", color: "red"},
                    {name: "Alex", quest: "I don't know", color: "green"}
                ];

                $scope.$watch('listFilter', function () {
                    $scope.itemsShown = filterFilter($scope.items, $scope.listFilter).length;
                })

            });
    
</script>
</body>
</html>