<html>
<head>
    <title>Angular Demo</title>
    <link href="css.css" rel="stylesheet">
</head>
<body ng-app="myApp" ng-controller="mainController">

<h1>Data from an external source</h1>
Filter: <input ng-model="listFilter"><br/>
Number of results: {{items.length}} / Results shown: {{itemsShown}}<br/>
<hr>
<div ng-repeat="item in items | filter:listFilter">
    Name: {{item.name}}<br>
    Quest: {{item.quest}}<br>
    Favorite color: {{item.color}}<br/>
    <hr>
</div>

<br><br>
<a href="6.html">Next</a>


<script language="JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.js"></script>
<script>
    angular.module('myApp', [])
            .controller("mainController", function($scope, filterFilter, DataSource){
                $scope.$watch('listFilter', function () {
                    if($scope.items) {
                        $scope.itemsShown = filterFilter($scope.items, $scope.listFilter).length;
                    }
                })

                DataSource.get('data.json')
                        .success(function (data, status) {
                            $scope.items = data;
                            $scope.itemsShown = filterFilter($scope.items, $scope.listFilter).length;
                        }).error(function (error, status) {
                            console.log('error: ' + error)
                        });
            })
            .factory('DataSource', function contractsFactory ($http) {
                return {
                    get: function (param) {
                        return $http.get('http://localhost/demo/' + param);
                    }
                }
            })
    ;
</script>
</body>
</html>