<html>
<head>
    <title>Angular Demo</title>
    <link href="css.css" rel="stylesheet">
</head>
<body ng-app="myApp" ng-controller="mainController">

<h1>$q Promises</h1>
Filter: <input ng-model="listFilter"><br/>
Number of results: {{items.length}} / Results shown: {{itemsShown}}<br/>
<hr>
<div ng-repeat="item in items | filter:listFilter">
    Name: {{item.name}}<br>
    Quest: {{item.quest}}<br>
    Favorite color: {{item.color}}<br/>
    <hr>
</div>

<br><br>
<a href="7.html">Next</a>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.10/toaster.css">
<script language="JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.js"></script>
<script>
    angular.module('myApp', [])
            .controller("mainController", function($scope, filterFilter, Data){
                $scope.$watch('listFilter', function () {
                    if($scope.items) {
                        $scope.itemsShown = filterFilter($scope.items, $scope.listFilter).length;
                    }
                })

                Data.get('data.json').then(function (data) {
                    $scope.items = data;
                    $scope.itemsShown = filterFilter($scope.items, $scope.listFilter).length;
                });


            })
            .factory('Data', function contractsFactory ($http, $q, DataSource) {
                return {
                    get: function (param) {

                        var deferred = $q.defer();

                        DataSource.get(param)
                                .success(function (data, status) {
                                    deferred.resolve(data);
                                    return deferred.promise;
                                })
                                .error(function (error, status) {

                                    deferred.reject(error);
                                    return deferred.promise;
                                });

                        return deferred.promise;
                    }
                }
            })
            .factory('DataSource', function contractsFactory ($http) {
                return {
                    get: function (param) {
                        return $http.get('http://localhost/demo/' + param);
                    }
                }
            })
            .factory('Messaging', ['toaster', function messagingFactory(toaster) {
                return {
                    // Error message function
                    errorMessage: function errorMessage(message, title) {
                        if (!title) {
                            title = 'Something went wrong';
                        }

                        if (!message) {
                            message = 'We forgot to put in the error message';
                        }

                        toaster.pop('error', title, message, 5000, 'trustedHtml');
                    },

                    successMessage: function successSaveMessage() {
                        toaster.pop('Info', 'Success', 'Your data has been loaded', 5000, 'trustedHtml');
                    }
                };
            }])
    ;
</script>
</body>
</html>