<html>
<head>
    <title>Angular Demo</title>
    <link href="css.css" rel="stylesheet">
</head>
<body ng-app="myApp" ng-controller="mainController">

<h1>http interceptor</h1>
Filter: <input ng-model="listFilter"><br/>
Number of results: {{items.length}} / Results shown: {{itemsShown}}<br/>
<hr>
<div ng-repeat="item in items | filter:listFilter" ng-hide="waiting">
    Name: {{item.name}}<br>
    Quest: {{item.quest}}<br>
    Favorite color: {{item.color}}<br/>
    <hr>
</div>
<div ng-show="waiting" style="background-color: aqua; padding:5px; border: 1px solid red;">
    Please wait while the data is loaded....
</div>

<br><br>
<a href="9.html">Next</a>

<toaster-container></toaster-container>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.10/toaster.css">
<script language="JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular-animate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.10/toaster.js"></script>

<script>
    angular.module('myApp', ['toaster'])
            .config(function ($httpProvider) {
                $httpProvider.interceptors.push('httpInterceptor');
            })

            .controller("mainController", function($scope, filterFilter, Data){
                $scope.$watch('listFilter', function () {
                    if($scope.items) {
                        $scope.itemsShown = filterFilter($scope.items, $scope.listFilter).length;
                    }
                })

                Data.get('data.json').then(function (data) {
                    $scope.items = data;
                    $scope.itemsShown = filterFilter($scope.items, $scope.listFilter).length;
                });


            })
            .factory('Data', function contractsFactory ($http, $q, DataSource, Messaging) {
                return {
                    get: function (param) {

                        var deferred = $q.defer();

                        DataSource.get(param)
                                .success(function (data, status) {
                                    deferred.resolve(data);
                                    Messaging.successMessage();
                                    return deferred.promise;
                                })
                                .error(function (error, status) {
                                    Messaging.errorMessage(error, status);
                                    return deferred.promise;
                                });

                        return deferred.promise;
                    }
                }
            })
            .factory('DataSource', function contractsFactory ($http) {
                return {
                    get: function (param) {
                        return $http.get('http://localhost/demo/' + param);
                    }
                }
            })
            .factory('Messaging', ['toaster', function messagingFactory(toaster) {
                return {
                    // Error message function
                    errorMessage: function errorMessage(message, title) {
                        if (!title) {
                            title = 'Something went wrong';
                        }

                        if (!message) {
                            message = 'We forgot to put in the error message';
                        }

                        toaster.pop('error', title, message, 5000, 'trustedHtml');
                    },

                    successMessage: function successSaveMessage() {
                        toaster.pop('Info', 'Success', 'Your data has been loaded', 5000, 'trustedHtml');
                    }
                };
            }])
            .factory('httpInterceptor', ['$q', '$rootScope', '$injector',
                function ($q, $rootScope, $injector) {
                    $rootScope.waiting = false;
                    $rootScope.http = null;

                    return {
                        request: function (config) {
                            $rootScope.waiting = true;
                            return config || $q.when(config);
                        },

                        'requestError': function (rejection) {
                            // get $http via $injector because of circular dependency problem
                            $rootScope.http = $injector.get('$http');
                            if ($rootScope.http.pendingRequests.length < 1) {
                                $rootScope.waiting = false;
                            }
                            return $q.reject(rejection);
                        },

                        response: function (response) {
                            // get $http via $injector because of circular dependency problem
                            $rootScope.http = $injector.get('$http');
                            if ($rootScope.http.pendingRequests.length < 1) {
                                $rootScope.waiting = false;
                            }
                            return response || $q.when(response);
                        },

                        responseError: function (rejection) {
                            // get $http via $injector because of circular dependency problem
                            $rootScope.http = $injector.get('$http');
                            if ($rootScope.http.pendingRequests.length < 1) {
                                $rootScope.waiting = false;
                            }
                            return $q.reject(rejection);
                        }
                    };
                }
            ])
    ;
</script>
</body>
</html>