html {
  overflow-y: scroll;
}

html, body {
  font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
  color: #404040;
  font-size: 14px;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .panel-heading, .header .navbar-default, .grid_header, .heading_blue {
    color: #202020;
    font-weight: bold !important;
    text-shadow: none;
    margin: 0;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.top {
  background-color: #555555;
}

.top ul {
  padding: 0;
  padding: 0;
}

.top ul.loginbar > li {
  display: inline;
  list-style: none;
}

.top ul.loginbar > li > a, .top ul.loginbar > li > a:hover {
  font-size: 11px;
  text-transform: uppercase;
}

/*
.header {
  border-bottom:solid 2px #eee;
  margin-bottom: 5px;
}
*/

.header .navbar {
  margin: 0;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header .navbar-default {
  border: none;
  background: #000000;
}

.header .navbar-collapse {
  position: relative;
}

.header .navbar-default .navbar-nav > .active > a {
  color: #428bca !important;
}

.header .navbar-default .navbar-nav > li > a {
  color: #687074;
  font-size: 15px;
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
  text-transform: uppercase;
}

.navbar-form {
  padding: 0;
}

.dropdown-menu {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  display: none;
  float: left;
  font-size: 14px;
  left: -70px;
  list-style: none outside none;
  margin: 2px 0 0;
  min-width: 160px;
  padding: 5px 0;
  position: absolute;
  top: 20px;
  z-index: 1000;
}

.h_50 {
  height: 50px;
}
.m_0 {
  margin: 0px !important;
}

.m_10 {
  margin: 10px;
}

.ml_5 {
  margin-left: 5px !important;
}

.mr_5 {
  margin-right: 5px !important;
}

.mt_0 {
  margin-top: 0 !important;
}

.mt_10 {
  margin-top: 10px;
}

.mt_5 {
  margin-top: 5px;
}

.mt_20 {
  margin-top: 20px;
}

.mb_10 {
  margin-bottom: 10px;
}

.mb_5 {
  margin-bottom: 5px;
}

.mb_20 {
  margin-bottom: 20px;
}

.p_0 {
  padding: 0px !important;
}

.p_5 {
  padding: 5px;
}

.p_10 {
  padding: 10px;
}

.pt_0 {
  padding-top:5px;
}

.pt_5 {
  padding-top:5px;
}

.pt_10 {
  padding-top:10px;
}

.pb_0 {
  padding-bottom: 0px;
}

.pb_5 {
  padding-bottom: 5px;
}

.pb_10 {
  padding-bottom: 10px;
}

.pl_10 {
  padding-left: 10px;
}

.pl_30 {
  padding-left: 30px;
}

.pr_10 {
  padding-right: 10px;
}

.w_250 {
    width:250px;
}

.inline-block {
  display: inline-block;
}

.list-inline > li {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
}

.btn-light-blue {
    background-color: #A4B9BE;
}

.btn-blue {
  color: #eeeeee;
  border: 1px solid #357ebd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  background-color: #428bca;
}

.bold {
  font-weight: bold;
}

.btn-blue a {
  color: #eeeeee;
}

.btn-blue a:hover {
  color: #ffffff;
}

.box {
    border: 1px solid #dddddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
/*
    margin-top: 10px;
    margin-bottom: 10px;
*/
}

.well {
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 15px;
}

.box_blue {
  border: 1px solid #428bca;
  background: #e6f2fd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.text-white {
  color:#fff !important;
}

.text-blue {
  color: #428bca;
}

.white {
  background: #ffffff !important;
}

.gray {
  background: #f5f5f5 !important;
}

.center-text {
  text-align: center;
}

.da-slider {
  background: transparent url(../images/bg.jpg) no-repeat 0% 55%;
  height: 210px;
  background-size:cover;
}

.big-errors ul {
  list-style-type: none;
}

.big-errors,  .big-errors li {
  position: relative;
  color: red;
}

/*
.big-invalid
input.ng-dirty.ng-invalid {
  border: 1px solid red;
}

.big-valid,
input.ng-dirty.ng-valid {
  border: 1px solid green;
}
*/

.error {
    color: red;
    background-color: #ffffff;
    padding: 1px;
    margin: 2px;
}

.gray-input {
    background-color: #dddddd;
}

.or_sep {
  background:url(../images/OR.png) no-repeat center center;
  width:100%;
  height:13px;
  margin-bottom:25px;
}

.fa-3x {
    line-height: 1.2em;
}

.facebook-auth {
    color: #ffffff;
    background-color: #3B5998;
}
.twitter-auth {
    color: #ffffff;
    background-color: #4099FF;
}

.google-auth {
    color: #ffffff;
    background-color: #D34836;
}

.yahoo-auth {
  color: #b68ee7;
}

.waiting-overlay {
    width:200px;
    background:white;
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-100px;
    margin-left:-100px;
    padding: 20px;
    border: 2px solid black;
    text-align: center;
    z-index: 100;
    color: #000000;

}

.waiting-background {
    width:100%;
    height: 100%;
    opacity: 0.4;
    background-color: #000000;
    position:fixed;
    top:0;
    left:0;
    z-index: 99;
    font-weight: bold;
}


.login-overlay {
    position:fixed;
    top:50%;
    left:50%;
    width:700px;
    margin-top:-100px;
    margin-left:-350px;
    text-align: center;
    z-index: 100;
    color: #ffffff;
    font-size: 115%;
}

.ui-view {
    margin-top:20px;
    margin-bottom:20px;
}

.ui-view-container {
    background: url('/images/background.jpg') 50% 0 fixed no-repeat;
    position: relative;
    overflow: scroll;
    width:100%;
    height: 100%;
    background-size: cover;
    z-index: 0;
    position:fixed;
    top:50;
    left:0;
}

.copyright {
    background-color: #ffffff;
    padding:5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* This makes the content screens slide in if enabled*/
/*

.view[ui-view]{
    height: 100%;
}

.ui-view-container {
    position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    */
/*transform:scale3d(0.5, 0.5, 0.5);*//*

    left: 100%;
}

[ui-view].ng-enter-active {
    opacity: 1;
    */
/*transform:scale3d(1, 1, 1);*//*

    left: 0;
}

[ui-view].ng-leave {
    opacity: 1;
*/
/*    transform:translate3d(0, 0, 0);*//*

    left: 0;
}

[ui-view].ng-leave-active {
    opacity: 0;
    */
/*transform:translate3d(100px, 0, 0);*//*

    left: -100%;
}
*/


#topmenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  z-index: 99999;
}

#topmenufix {
  height: 35px;
}

@media (min-width: 767px) {
  .header .navbar-default .navbar-nav > li > a:hover,
  .header .navbar-default .navbar-nav > li > a:focus,
  .header .navbar-default .navbar-nav > .active > a {
    border-bottom: solid 2px #fd5d16;
  }

  .header .navbar-default .navbar-nav > li > a,
  .header .navbar-default .navbar-nav > li > a:focus,
  .header .navbar-default .navbar-nav > li > a:hover {
    background: #000000;
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
  }
}

